:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  letter-spacing: -0.5px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Disable the shadow effect on the primary button */
.ant-btn-color-primary {
  box-shadow: none !important;
}
